body {
  min-width: 900px;
  margin: 0;

  font-family: 'Roboto', "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;

  /*pixel perfect*/
  /*background: url("../pict/nerds-index.jpg") no-repeat center top;*/
}

body.catalog-page {
  /*pixel perfect*/
  /*background: url("../pict/nerds-catalog.png") no-repeat center top;*/
}

b {
  font-size: 36px;
  line-height: 36px;
}

p {
  margin-bottom: 25px;
}

hr {
  height: 2px;
  outline: none;
  border: none;
  background:  #eeeeee;
}

.clearfix::after {
  content: "";

  display: table;
  clear: both;
}

.main-header {
  position: relative;
  margin-bottom: 80px;
  padding-top: 27px;

  background-color: #eeeeee;
}

.container {
  width: 880px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-navigation {
  /*margin-top: 27px;*/
}

.main-navigation ul {
  float: right;
  margin: 0;
  padding: 0;

  font-size: 0;
}

.main-navigation li {
  display: inline-block;
  margin: 27px 23px;

  vertical-align: top;
}

.main-navigation li:last-child {
  margin-right: 0;
}

.main-navigation a,
.main-navigation span {
  padding: 5px 0;

  font-family: 'Roboto', "Arial", sans-serif;
  font-size: 14px;
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;

  color: #000000;
  border-bottom: 2px solid transparent;
}

.main-navigation .active a,
.main-navigation .active span  {
  border-bottom: 2px solid #fb565a;
}

.main-navigation .cart {
  margin-left: 43px;
}

.cart a,
.cart span {
  position: relative;

  padding-left: 30px;
}

.cart a::after,
.cart span::after {
  content: "";
  position: absolute;
  top: 4px;
  left: 0;

  display: inline-block;
  width: 18px;
  height: 18px;

  background: url("../img/sprite.png") -12px -12px no-repeat;
}

.main-logo {

}

.slider {
  position: relative;
}

.slide-paginator {
  position: absolute;
  bottom: 20px;
  left: 50%;

  width: 300px;
  margin-left: -150px;
  text-align: center;
}

.slide-1,
.slide-2,
.slide-3,
.slider input[type="radio"] {
  display: none;
}

.slide-1 img {
  padding-top: 25px;
}

.slide-2 img {
  padding-top: 30px;
  padding-left: 100px;
}

#slide1-btn:checked ~ .slide-1,
#slide2-btn:checked ~ .slide-2,
#slide3-btn:checked ~ .slide-3 {
  display: block;
}

.slide-paginator label {
  position: relative;
  display: inline-block;
  width: 8px;
  height: 8px;
  margin: 0 5px;

  vertical-align: top;
  background: #ffffff;
  border: 5px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slide-paginator label::after {
  content: "";
  position: absolute;
  top: -7px;
  left: -7px;
  display: block;
  width: 18px;
  height: 18px;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

#slide1-btn:checked ~ .slide-paginator label[for="slide1-btn"],
#slide2-btn:checked ~ .slide-paginator label[for="slide2-btn"],
#slide3-btn:checked ~ .slide-paginator label[for="slide3-btn"] {
  background: #c1c1c1;
}

.slide-content {
  float: left;
  width: 480px;
  padding-top: 46px;
}

.slide-content p {
  margin-bottom:  28px;
}

.slide-picture {
  float: right;
  width: 340px;
  height: 325px;
}

.slide-header {
  margin-bottom: 5px;
}

.services {
  margin-bottom: 80px;

  font-size: 15px;
  line-height: 22px;
}

.services-item {
  float: left;
  width: 240px;
  margin-right: 80px;
}

.services-item:last-child {
  margin-right: 0;
}

.services-img {
  margin-bottom: 2px;
}

.services-title {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.about {
  padding-top: 50px;
  padding-bottom: 40px;
}

.about p {
  margin-top: 12px;
  margin-bottom: 18px;
}

.about h2 {
  margin-top: 27px;
  margin-bottom: 22px;

  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
}

.about-item {

}

.about-left {
  float: left;
  width: 620px;
}

.about-right {
  float: right;
  width: 240px;
}

.about-right.center {
  text-align: center;
}

.side-lined {
  overflow: hidden;
  text-align: center;
}

.side-lined h2 {
  position: relative;
  display: inline-block;
  margin-top: 23px;
  padding: 0 14px;
}

.side-lined h2::before,
.side-lined h2::after {
  content: "";

  position: absolute;
  top: 0.7em;

  display: block;
  width: 400%;
  height: 2px;

  background-color: #eeeeee;
}

.side-lined h2::before {
  right: 100%;
}

.side-lined h2::after {
  left: 100%;
}

.about-title {

}

.uncompressed-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.uncompressed-list li {
  position: relative;
  margin-bottom: 22px;
  padding-left: 36px;
}

.uncompressed-list li::before {
  content: "";

  position: absolute;
  top: 0.6em;
  left: 0;
  display: block;

  width: 25px;
  height: 2px;

  vertical-align: middle;
  background-color: #fb565a;
}


.clients {
  padding: 35px 0px 15px;

  font-size: 0;
}

.clients-img {
  display: inline-block;
  padding: 0 12px;
  vertical-align: middle;
  width: 216px;
  margin-right: 80px;

  opacity: 0.3;
}

.clients-img:nth-child(3n) {
  margin-right: 0;
}

.main-footer {
  position: relative;

  margin-top: 83px;
  padding-bottom: 66px;
}

.footer-map {
  height: 415px;
  margin-bottom: 75px;

  background:#b5b5b5 url("../pict/map.jpg") repeat center;
}

/*.footer-map iframe {
  width: 100%;
  height: 100%;
  border: 0;
}*/

.footer-contacts {
  position: absolute;
  top: 88px;
  left: 50%;
  margin-left: -440px;

  width: 210px;
  padding: 25px 20px;

  background: #ffffff;
  z-index: 1;
}

.footer-contacts .btn {
  margin-top: 10px;
}

.footer-contacts h2 {
  margin: 0;
  margin-bottom: 11px;

  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
}

.footer-contacts p {
  margin: 0;
  margin-bottom: 17px;
}

.footer-social {
  float: left;
  width: 300px;
  padding: 2px 0;
  font-size: 0;
}

.footer-promo {
  float: left;
  width: 562px;
  margin-left: 18px;
}

.footer-promo p {
  margin: 10px 0;
}

.footer-promo-title {

}


/*Стили для внутренних страниц     */
/*---------------------------------*/
.inner-page-title {
  padding: 54px 0 84px;

  text-align: center;
}

.inner-page-title h1 {
  margin: 0;
  padding: 0;

  font-size: 40px;
  line-height: 48px;
  text-transform: uppercase;
}

.inner-content {

}

/*страница "Каталог макетов"*/
/*---------------catalog.html-------------------------*/
.shop-filter {
  float: left;
  width: 240px;

  color: #283136;

  font-size: 18px;
  text-transform: uppercase;
  /*line-height: 30px;*/
}

.shop-filter fieldset {
  margin-bottom: 50px;
  padding: 0;
  border: none;
}

.shop-filter legend {

  padding-bottom: 18px;
}

.price-filter {
  width: 180px;
  height: 80px;
  margin-bottom: 12px;
  padding: 0 30px;

  background-color: #f1f1f1;
  border-radius: 3px;
}

.price-filter .left-slider,
.price-filter .right-slider {
  position: absolute;

  width: 4px;
  height: 4px;

  background-color: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;

  box-shadow: 0 2px 3px rgba(0, 1, 1, 0.3);
  cursor: pointer;
  z-index: 20;
}

.price-filter .left-slider {
  top: 50%;
  left: 0%;   /* left: 0% - 100% для управления положением слайдера*/

  margin-top: -10px;
  margin-left: -10px;
}

.price-filter .right-slider {
  top: 50%;
  left: 50%;  /* left: 0% - 100% для управления положением слайдера*/

  margin-top: -10px;
  margin-left: -10px;
}

.price-filter .progress-bar {
  position: relative;

  display: inline-block;
  width: 100%;
  height: 2px;
  margin-top: 38px;

  background-color: #d7dcde;
}

.price-filter .bar {
  position: absolute;
  left: 0%;     /* left: 0% - 100%; для задания начальной точки*/

  width: 50%;    /* width: 0% - 100%; для управления диапозоном*/
  height: 2px;

  background-color: #00ca74;
}

.shop-filter input[name="min-price"] {
  margin-right: 16px;
}

.shop-filter input[name="min-price"],
.shop-filter input[name="max-price"] {
  width: 58px;
  padding: 8px 10px;

  text-align: center;
/*border:none;*/
  border: 1px solid transparent;
  border-radius: 3px;
  outline: none;

  background-color: #f1f1f1;
}

.check-label {
  position: relative;
  display: block;
  margin-bottom: 20px;
  padding-left: 35px;

  font-size: 16px;
  line-height: 20px;
  text-transform: none;

  cursor: pointer;
}

.slide-paginator .check-label {
  display: inline-block;
  vertical-align: top;
}

.check-label:last-child {
  margin-bottom: 0;
}

.shop-filter input[type="radio"],
.shop-filter input[type="checkbox"] {
  display: none;
}

.check-indicator {
  position: absolute;
  top: 0;
  left: 0;

  display: block;
  width: 18px;
  height: 18px;

  border: 2px solid #c1c1c1;
  border-radius: 3px;
}

input[type="radio"] + .check-indicator {
  border-radius: 50%;
}

input[type="radio"]:checked + .check-indicator::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;

  display: block;
  width: 8px;
  height: 8px;

  border-radius: 50%;
  background-color: #c1c1c1;
}

input[type="checkbox"]:checked + .check-indicator::after,
input[type="checkbox"]:checked + .check-indicator::before {
  content: "";
  position: absolute;

  display: block;
  width: 20px;
  height: 4px;

  background-color: #c1c1c1;
  border-radius: 1px;
}

input[type="checkbox"]:checked + .check-indicator::before {
  top: 3px;
  left: 2px;

  border: 2px solid #ffffff;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

input[type="checkbox"]:checked + .check-indicator::after {
  top: 8px;
  left: 0px;

  width: 11px;

  -webkit-transform: rotate(45deg);

          transform: rotate(45deg);
}

.check-label.disabled .check-indicator {
  cursor: not-allowed;
  opacity: 0.8;
}

.check-label.disabled {
  cursor: not-allowed;
  opacity: 0.3;
}

.catalog {
  float: right;
  width: 560px;
  font-size: 0;
}

.catalog-filer {
  position: relative;
  margin-bottom: 15px;
}

.catalog-filer a,
.catalog-filer span {
  padding: 1px 0;

  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
}

.catalog-filer a {
  text-decoration: none;
  color: #000000;
  border-bottom: 1px dotted #00ca74;
  opacity: 0.3;
}

.catalog-filer ul,
.catalog-filer .sort {
  margin: 0;
  padding: 0;

  font-size: 0;
}

.catalog-filer li {
  display: inline-block;
  margin-right: 40px;

  vertical-align: top;
}

.catalog-filer .sort {
  position: absolute;
  height: 0px;

  border: 5px solid transparent;
}

.catalog-filer .descending {
  right: 18px;
  top: 4px;
  border-top: 10px solid #c1c1c1;
}

.catalog-filer .ascending {
  right: 1px;
  top: 0;
  border-bottom: 10px solid #c1c1c1;
}

.curent .descending {
  border-top: 10px solid #00ca74;
}

.curent .ascending {
  border-bottom: 10px solid #00ca74;
}


.catalog-item {
  position: relative;

  display: inline-block;
  width: 240px;
  margin-right: 80px;
  margin-bottom: 75px;

  font-size: 14px;
  line-height: 18px;
}

.catalog-item:nth-child(odd) {
  margin-right: 0;
}

.item-head {
  padding: 6px 12px;
  font-size: 0;

  background-color: #f1f1f1;
  border-radius: 3px 3px 0 0;
}

.item-head div {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 7px;

  vertical-align: middle;

  background-color: #ffffff;
  border-radius: 50%;
}

.item-description {
  position: absolute;
  top: 50px;
  left: 20px;

  display: none;
  width: 160px;
  min-height: 163px;
  padding: 37px 20px 0px;

  text-align: center;
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 1, 1, 0.3);
}

.item-description h2 {
  margin: 0;
  margin-bottom: 0px;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
}

.item-description p {
  margin: 0;
}

.paginator {
  margin: 0;
  padding: 0;
  font-size: 0;
}

.paginator li {
  display: inline-block;
  margin-right: 11px;
}


/*всплывающие окна*/
/*-------------------------------------------------------*/
.modal-overley {
  position: fixed;
  top: 0;
  left: 0;

  display: none;
  width: 100%;
  height: 100%;

  background-color: rgba(1, 1, 1, 0.5);
  z-index: 10;
}

.modal-feedback-form {
  position: fixed;
  top: 50%;
  left: 50%;

  display: none;
  /*width: 460px;*/
  margin-left: -315px;
  margin-top: -200px;
  /*padding: 54px 90px 50px 80px;*/

  /*color: #000000;*/
  /*background: #ffffff;*/

  box-shadow: 0 20px 40px rgba(0, 1, 1, 0.75);
  z-index: 20;
}

.modal-feedback-form,
.page-feedback-form {
  width: 460px;
  padding: 54px 90px 50px 80px;

  color: #000000;

  background: #ffffff;
}

.page-feedback-form {
  margin: 0 auto;
  padding-top: 0;
}

.page-feedback-form h2 {
  margin-bottom: 30px;
  /*text-align: center;*/
}

.modal-close {
  position: absolute;
  top: 6px;
  right: 6px;

  width: 40px;
  height: 40px;

  font-size: 0;

  background-color: #fb565a;
  border: none;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
}

.modal-close::after,
.modal-close::before {
  content: "";
  position: absolute;
  top:17px;
  left: 6px;

  display: block;
  width: 28px;
  height: 5px;

  background-color: #ffffff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.modal-close::before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.feedback-form {

}

.feedback-form label {
  display: inline-block;

  line-height: 18px;
}

.feedback-form label:nth-child(2) {
  float: right;
}

.feedback-form input,
.feedback-form textarea {
  padding: 9px 14px;

  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;

  border: 2px solid #d7dcde;
  border-radius: 2px;
  outline: none;
}

.feedback-form input {
  width: 190px;
  margin-top: 13px;
  margin-bottom: 21px;
}

.feedback-form textarea {
  width: 428px;
  margin-top: 13px;
  margin-bottom: 48px;

  resize: none;
}

.feedback-form .btn {
  display: block;
  width: 100%;
}

.modal-show,
.overley-show {
  display: block;
}

.modal-show {
  -webkit-animation: expand 0.6s;
	animation: expand 0.6s;
}

.modal-error {
	-webkit-animation: shake 0.6s;
	animation: shake 0.6s;
}


/*кнопки*/
/*-------------------------------------------------------*/
.btn,
.paginator .curent {
  display: inline-block;

  padding: 6px 0 11px;

  font-family: 'Roboto', "Arial", sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  vertical-align: top;
  text-decoration: none;
  text-align: center;

  color: #ffffff;
  outline: none;
  border: none;
  background-color: #fb565a;
  border-top: 3px solid #fb565a;
  border-radius: 3px;

  cursor: pointer;
}

.slide-content .btn {
  min-width: 240px;
}

.services .btn {
  min-width: 140px;
}

.services .application-btn {
  background-color: #00ca74;
  border-top: 3px solid #00ca74;
}

.services .presentation-btn {
  background-color: #efc84a;
  border-top: 3px solid #efc84a;
}

.footer-contacts .btn {
  min-width: 204px;
}

.social-btn {
  display: inline-block;
  width: 63px;
  height: 59px;
  margin-right: 26px;

  background-color: #e1e1e1;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  border-top: 3px solid #e1e1e1;
  border-radius: 50%;

  -webkit-transition: background-position 0.5s;

  transition: background-position 0.5s;
}

.social-btn-vk {
  background-position: 5px -290px;
}

.social-btn-fb {
  background-position: 14px -120px;
}

.social-btn-inst {
  background-position: 10px -209px;
}

.paginator .btn,
.paginator .curent,
.shop-filter .btn {
  min-width: 37px;
  padding: 8px 0 9px;

  color: #000000;
  background-color: #f1f1f1;
  border-top: 3px solid #f1f1f1;
}

.paginator .curent {
  min-width: 33px;
  background-color: transparent;
  border: 2px solid #f1f1f1;
}

.paginator .next {
  min-width: 140px;
}

.shop-filter .btn {
  min-width: 156px;
  margin-top: 8px;
}

.item-description .btn {
  position: absolute;
  bottom: 30px;
  left: 50%;

  min-width: 140px;
  margin-left: -70px;
  /*margin-bottom: 30px;*/
}

/*эффекты: наведения, нажатия и т.д.*/
/*--------------------------------------------------------------*/
.main-navigation a:hover {
  color: #fb565a;
}

.main-navigation a:active {
  color: #8f8f8f;
}

.cart a:hover::after {
  background: url("../img/sprite.png") -12px -51px no-repeat;
}

.cart a:active::after {
  background: url("../img/sprite.png") -12px -12px no-repeat;
    opacity: 0.3;
}

.btn:hover {
  background-color: #d6494d;
  border-top: 3px solid #d6494d;
}

.services .application-btn:hover {
  background-color: #01a25e;
  border-top: 3px solid #01a25e;
}

.services .presentation-btn:hover {
  background-color: #d6ae2c;
  border-top: 3px solid #d6ae2c;
}

.btn:active {
  background-color: #b63538;
  border-top: 3px solid #9b2d30;

  -webkit-transition: background-color 0.5s;

  transition: background-color 0.5s;
}

.services .application-btn:active {
  background-color: #009053;
  border-top: 3px solid #007b47;
}

.services .presentation-btn:active {
  background-color: #c09b24;
  border-top: 3px solid #a3841f;
}

.clients-img:hover {
  opacity: 1;
}

.social-btn:hover {

}

.social-btn-vk:hover,
.social-btn-fb:hover,
.social-btn-inst:hover {
  background-color: #fb565a;

  border-top: 3px solid #fb565a;

  -webkit-transition: background-position 0.5s;

  transition: background-position 0.5s;
}

.social-btn-vk:hover {
  background-position: 5px -250px;
}

.social-btn-fb:hover {
  background-position: 14px -72px;
}

.social-btn-inst:hover {
  background-position: 10px -164px;
}

.social-btn-vk:active,
.social-btn-fb:active,
.social-btn-inst:active {
  background-color: #d6494d;

  border-top: 3px solid #b63e42;

  -webkit-transition: background-position 0.5s,
              background-color 0.5s;

  transition: background-position 0.5s,
              background-color 0.5s;
}

.catalog-filer a:hover,
.curent a {
  color: #000000;
  border-bottom: 1px solid #00ca74;
  opacity: 1;
}

.catalog-filer .descending:hover {
  border-top: 10px solid #b5b5b5;
}

.catalog-filer .ascending:hover {
  border-bottom: 10px solid #b5b5b5;
}

.catalog-filer a:active {
  color: #000000;
  border-bottom: 1px solid transparent;
  opacity: 1;
}

.catalog-filer .descending:active {
  border-top: 10px solid #000000;
}

.catalog-filer .ascending:active {
  border-bottom: 10px solid #000000;
}

.catalog-item:hover .item-description {
  display: block;
}

.catalog-item:hover .item-head {
  background-color: #797979;
}

.paginator .btn:hover,
.shop-filter .btn:hover {
  background-color: #e5e5e5;
  border-top: 3px solid #e5e5e5;
}

.paginator .btn:active,
.shop-filter .btn:active {
  background-color: #d5d5d5;
  border-top: 3px solid #b5b5b5;
}

.check-label:hover,
.check-indicator:hover,
.check-label:hover .check-indicator {
  color: #000000;
  border-color: #b5b5b5;
  cursor: pointer;
}

/*input[disabled] + .check-indicator {*/
.check-label.disabled:hover .check-indicator {
  border-color: #c1c1c1;
  cursor: not-allowed;
  /*opacity: 0.6;*/
}

.check-label.disabled:hover {
  color: #283136;
  cursor: not-allowed;
  opacity: 0.3;
}

input[type="checkbox"]:hover:checked + .check-indicator::after,
input[type="checkbox"]:hover:checked + .check-indicator::before,
input[type="radio"]:hover:checked + .check-indicator::after {
  background-color: #b5b5b5;
}

textarea:hover,
input[type="text"]:hover,
.shop-filter input[name="min-price"]:hover,
.shop-filter input[name="max-price"]:hover {
  border-color: #a2a9ac;
}

textarea:focus,
input[type="text"]:focus,
.shop-filter input[name="min-price"]:focus,
.shop-filter input[name="max-price"]:focus {
  border-color: #56bffb;
}


/*-- анимация всплывающих окон --*/

@-webkit-keyframes expand {
    from {
        -webkit-transform: scale(0.4,0.1);
        transform: scale(0.4,0.1);
        }
    to {
      -webkit-transform: scale(1,1);
      transform: scale(1,1);
      }
}

@-webkit-keyframes shake {
	0%,
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
	10%,
	30%,
	50%,
	70%,
	90% {
		-webkit-transform: translateX(-10px);
		transform: translateX(-10px);
	}
	20%,
	40%,
	60%,
	80% {
		-webkit-transform: translateX(10px);
		transform: translateX(10px);
	}
}

@keyframes shake {
	0%,
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
	10%,
	30%,
	50%,
	70%,
	90% {
		-webkit-transform: translateX(-10px);
		transform: translateX(-10px);
	}
	20%,
	40%,
	60%,
	80% {
		-webkit-transform: translateX(10px);
		transform: translateX(10px);
	}
}
